
/*
  Media queries for background position
*/

@media screen and (max-height: 675px) {
  body {
    background-position: 0 -100px;
  }

  .contact-us-background {
  	background-position: 0 -100px;
  }
}

@media screen and (max-height: 600px) {
  body {
    background-position: 0 -50px;
  }

  .contact-us-background {
  	background-position: 0 -50px;
  }
}

@media screen and (max-height: 560px) {
  body {
    background-position: 0 0;
  }

  .contact-us-background {
  	background-position: 0 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-position: -175px 0;
  }

  .contact-us-background {
  	background-position: -175px 0;
  }
}

@media screen and (max-height: 630px) {
  body {
    background-position: -75px 0;
  }

  .contact-us-background {
  	background-position: -75px 0;
  }
}

@media screen and (max-height: 500px) {
  body {
    background-position: 0 0;
  }

  .contact-us-background {
  	background-position: 0 0;
  }
}

@media screen and (max-height: 235px) {
  body {
    background-position: 0 0;
  }

  .contact-us-background {
  	background-position: 0 0;
  }
}
