/*
1) GENERAL
*/

html {
  font-size: 18px;
}

body {
  background-image: url(../img/header-bg.jpg);
  color: #4a4a4a;
  margin: 0;
  font-size: 18px;
  font-family: "Rubik", Arial, Sans-Serif;
  height: 600px;
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -120px;
}

footer {
  padding: 20px;
  background-color: #3b3b3b;
  text-align: center;
  color: #fafafa;
  font-size: 0.7777778rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", Impact, Sans-Serif;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  margin: 0;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
}

/*
  HEADER NAVIGATION
*/

header {
  background-color: rgba(13, 142, 195, 0.8);
  color: #fafafa;
  height: 80px;
}

nav {
  display: inline-block;
  line-height: 78px;
  float: right;
}

.full-menu {
  display: none;
}

.full-menu a {
  color: #fafafa;
  font-weight: bold;
  font-size: 0.7777778rem;
}

.full-menu a:hover {
  text-decoration: none;
  color: #3c078e;
}

.mobile-menu-icon {
  font-size: 1.5rem;
  border: 1px solid;
  border-radius: 5px;
  padding: 7px;
}

/*
  GENERAL - MAIN CONTENT
*/

.section-header {
  text-align: center;
  margin-bottom: 2rem;
}

.section-heading {
  text-transform: uppercase;
  line-height: 45px;
}

.sh-icon-wrapper {
  background-color: #045a84;
  border-radius: 40px;
  display: inline-block;
  position: relative;
}

.sh-icon-wrapper::before {
  content: " ";
  border-bottom: 1px solid #000;
  width: 25px;
  position: absolute;
  top: 19px;
  left: 45px;
}

.sh-icon-wrapper::after {
  content: " ";
  border-bottom: 1px solid #000;
  width: 25px;
  position: absolute;
  top: 19px;
  right: 45px;
}

.sh-icon-wrapper.alternative {
  background-color: #3c078e;
}

.sh-icon {
  color: #fafafa;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.sh-heading-keyword {
  color: #045a84;
}

.sh-heading-keyword.alternative {
  color: #3c078e;
}

.main-content {
  padding: 4rem 0;
}

.solid-background:nth-of-type(odd) {
  background-color: #f0f0f0;
}

.solid-background:nth-of-type(even) {
  background-color: #fafafa;
}

/*
  MAIN HEADER SECTION
*/

.main-header {
  height: 420px;
  background-color: rgba(60, 7, 142, 0.13);
}

.site-heading-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.navigation-logo {
  margin: 10px 0;
  max-height: 60px;
}

/*
  SERVICE SECTION
*/

.service-item {
  text-align: center;
}

.service-icon-wrapper {
  margin-top: 2rem;
  border: 4px solid #78b0cb;
  border-radius: 120px;
  display: inline-block;
}

.service-icon {
  color: #78b0cb;
  font-size: 4rem;
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.service-heading {
  margin: 6px 0 2px 0;
}

/*
  ABOUT SECTION
*/

#about p:nth-child(n+2) {
  margin-top: 1rem;
}

.about-information {
  text-align: center;
}

/*
  PROJECTS SECTION
*/

.project-name {
  text-align: center;
  margin: 5px 0 1px 0;
}

.project-tags {
  display: block;
  text-align: center;
  font-weight: 300;
}

/*
  TEAM SECTION
*/

.team-item {
  text-align: center;
}

.team-portrait {
  margin: 0 auto;
  border-radius: 100%;
  margin-top: 2rem;
}

.team-name {
  margin: 3px 0;
}

.team-job {
  font-weight: 300;
  display: block;
}

.team-social-media-icons {
  list-style: none;
  display: inline-flex;
  margin-top: 10px;
}

.team-social-media-icons a {
  margin-right: 10px;
  padding: 5px;
  border: 2px solid #9d78cb;
  border-radius: 100%;
  color: #9d78cb;
  font-size: 16px;
}

/*
  CONTACT US SECTION
*/

.contact-us-background {
  background-image: url(../img/hot_air_balloons.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -120px;
}

.contact-us {
  background-color: rgba(120, 176, 203, 0.8);
}

.contact-us-heading {
  color: #fafafa;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.send-message {
  margin-top: 2rem;
  text-transform: uppercase;
  color: #fafafa;
  border-color: #045a84;
  background-color: #045a84;
}

.send-message:active:focus,
.send-message:focus,
.send-message:active,
.send-message:hover {
  color: #fafafa;
  background-color: #2a6392;
  border-color: #045a84;
}

.sent-message {
  margin-top: 2rem;
  color: #000;
  border: 2px solid;
  border-radius: 3px;
  display: none;
}

.sent-error {
  margin-top: 2rem;
  color: #f00;
  border: 2px solid;
  border-radius: 3px;
  display: none;
}

.invalid:focus,
.invalid {
  background-color: #f2dede;
  border-color: #f00;
}

/*
  CONTACT INFORMATION
*/

.contact-information {
  background-color: #343434;
  padding: 20px 0;
  text-align: center;
  color: #fafafa;
}

.contact-info-group {
  margin-top: 1rem;
}

.contact-icon {
  color: #78b0cb;
  display: block;
}

@media screen and (max-width: 767px) {
  .service-item:nth-child(1) .service-icon-wrapper {
    margin-top: 0;
  }

  .team-item:nth-child(1) .team-portrait {
    margin-top: 0;
  }

  .contact-item:nth-child(1) .contact-info-group {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .full-menu {
    display: flex;
    list-style: none;
    text-transform: uppercase;
  }

  .full-menu li {
    padding-right: 20px;
  }

  .mobile-menu-icon {
    display: none;
  }
}

@media screen and (max-height: 675px) {
  body {
    background-position: 0 0;
  }

  .contact-us-background {
  	background-position: 0 0;
  }
}
